{% extends 'base.html' %}

{% block content %}
    <h1>{{nameEn}}, {{province}}</h1>
<div class="row">
    <div class="current col-md-12 text-center">
        <img src="{{current_conditions.icon}}" alt="" />

        <p>Current temperature: {{current_conditions.temp_c}}C [{{current_conditions.temp_f}}F]</p>
         <p>Current pressure: {{current_conditions.pressure}}</p>
    </div>
</div>
<hr />
<div class="row">
    {% for period in forecast %}
    <div class="col-md-6">
      <div class="forecast-day">
        <h3><img src="{{period.icon}}" alt="" style="width: 32px; height: auto;" />
        {{period.name}}</h3>
        {{period.textSummary}}
        </div>
    </div>
    {% endfor %}
    {{home}}
</div>
<hr />
<div class="row">
    <div class="current col-md-12">
        <p>Data URL: {{url}} - Environment Canada timestamp: {{timetext}}</p>
    </div>
</div>
{% endblock %}
